node_modules
*.code-workspace


*.log

*.tsbuildinfo

.VSCodeCounter/

size-plugin.json
# Local Netlify folder
.netlify

.eslintcache
.gitlab-ci.yml

src/tests/coverage
.git

npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.gitignore
README.md
LICENSE
.vscode
.storybook
